### SQL mini project

In this exercise, we address questions related to the "country_club" database available from Springboard' online SQL platform. This database contains 3 tables:
1. the "Bookings" table,
2. the "Facilities" table, and
3. the "Members" table.

We downloaded the tables locally and set up a local database. To answer the set of questions of this mini project, we first set up a connection to the local database and query the data.

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
engine=create_engine(url)
url='mysql+pymysql://root:userpassword@localhost:3305/country_club'

In [25]:
# Q1: Some of the facilities charge a fee to members, but some do not. Please list the names of the facilities that do. 

q1= 'SELECT name FROM Facilities WHERE membercost !=0'

print('The list of the names of the facilities that charge fee to members is:\n')

print(pd.read_sql_query(q1, engine)['name'].to_string(index=False))

The list of the names of the facilities that charge fee to members is:

 Tennis Court 1
 Tennis Court 2
 Massage Room 1
 Massage Room 2
   Squash Court

In [26]:
# Q2: How many facilities do not charge a fee to members? 

q2= 'SELECT COUNT(*) FROM Facilities WHERE membercost=0'

print('The number of facilities that do not charge a fee to members is:\n')

print(pd.read_sql_query(q2, engine)['COUNT(*)'].to_string(index=False))

The number of facilities that do not charge a fee to members is:

 4

In [24]:
# Q3: Produce a list of facilities that charge a fee to members, 
# where the fee is less than 20% of the facility's monthly maintenance cost.
# Return the facid, facility name, member cost, and monthly maintenance of the facilities in question. 

q3= """SELECT facid, name, membercost, monthlymaintenance
       FROM Facilities
       WHERE membercost>0 AND membercost< 0.2 * monthlymaintenance"""

print(
'The facilities that charge to members a non-zero fee that is less than 20% of the facility\'s monthly maintenance cost are:\n'
)

print(pd.read_sql_query(q3, engine).to_string(index=False))

The facilities that charge to members a non-zero fee that is less than 20% of the facility's monthly maintenance cost are:

 facid            name  membercost  monthlymaintenance
     0  Tennis Court 1         5.0                 200
     1  Tennis Court 2         5.0                 200
     4  Massage Room 1         9.9                3000
     5  Massage Room 2         9.9                3000
     6    Squash Court         3.5                  80

In [28]:
# Q4: How can you retrieve the details of facilities with ID 1 and 5?
#     Write the query without using the OR operator. 

q4='SELECT * FROM Facilities WHERE facid IN (1,5)'

print("The details of facilities with ID 1 and 5 are as follows:\n")

print(pd.read_sql_query(q4, engine).to_string(index=False))

The details of facilities with ID 1 and 5 are as follows:

 facid            name  membercost  guestcost  initialoutlay  monthlymaintenance
     1  Tennis Court 2         5.0       25.0           8000                 200
     5  Massage Room 2         9.9       80.0           4000                3000

In [29]:
# Q5: How can you produce a list of facilities, with each labelled as'cheap' or 'expensive', 
# depending on if their monthly maintenance cost is more than $100? 
# Return the name and monthly maintenance of the facilities in question. 

q5="""SELECT name, monthlymaintenance,
             CASE WHEN monthlymaintenance>100 THEN 'Expensive'
                  ELSE 'Cheap' END AS label
      FROM Facilities"""

print("The list of facilities labeled as 'cheap' or 'expensive' is as follows:\n")

print(pd.read_sql_query(q5, engine).to_string(index=False))

The list of facilities labeled as 'cheap' or 'expensive' is as follows:

            name  monthlymaintenance      label
  Tennis Court 1                 200  Expensive
  Tennis Court 2                 200  Expensive
 Badminton Court                  50      Cheap
    Table Tennis                  10      Cheap
  Massage Room 1                3000  Expensive
  Massage Room 2                3000  Expensive
    Squash Court                  80      Cheap
   Snooker Table                  15      Cheap
      Pool Table                  15      Cheap

In [30]:
# Q6: You'd like to get the first and last name of the last member(s) who signed up. 
# Do not use the LIMIT clause for your solution. 

q6="""SELECT surname, firstname
      FROM Members 
      WHERE joindate=(SELECT MAX(joindate) FROM Members)"""

print("The name of the last member who signed up is:\n")

print(pd.read_sql_query(q6, engine).to_string(index=False))

The name of the last member who signed up is:

surname firstname
  Smith    Darren

In [31]:
# Q7: How can you produce a list of all members who have used a tennis court?
# Include in your output the name of the court, and the name of the member formatted as a single column. 
# Ensure no duplicate data, and order by the member name. 

q7="""SELECT concat(Members.firstname,' ',Members.surname) as "membername", Facilities.name as "facilityname"                               
      FROM Facilities 
      JOIN Bookings ON Facilities.facid=Bookings.facid
      JOIN Members ON Members.memid=Bookings.memid AND Bookings.memid>0
      WHERE Facilities.name LIKE 'Tennis Court%%'
      GROUP BY membername
      ORDER BY membername"""

print("Here are all the members who used a Tennis court:\n")

print(pd.read_sql_query(q7, engine).to_string(index=False))

Here are all the members who used a Tennis court:

        membername    facilityname
        Anne Baker  Tennis Court 1
      Burton Tracy  Tennis Court 2
      Charles Owen  Tennis Court 1
      Darren Smith  Tennis Court 2
     David Farrell  Tennis Court 1
       David Jones  Tennis Court 2
      David Pinker  Tennis Court 1
     Douglas Jones  Tennis Court 1
     Erica Crumpet  Tennis Court 1
    Florence Bader  Tennis Court 2
    Gerald Butters  Tennis Court 1
  Henrietta Rumney  Tennis Court 2
        Jack Smith  Tennis Court 1
   Janice Joplette  Tennis Court 1
    Jemima Farrell  Tennis Court 2
       Joan Coplin  Tennis Court 1
         John Hunt  Tennis Court 1
   Matthew Genting  Tennis Court 1
 Millicent Purview  Tennis Court 2
        Nancy Dare  Tennis Court 2
   Ponder Stibbons  Tennis Court 2
  Ramnaresh Sarwin  Tennis Court 2
        Tim Boothe  Tennis Court 2
        Tim Rownam  Tennis Court 2
     Timothy Baker  Tennis Court 2
       Tracy Smith  Tennis Court 1

In [32]:
# Q8: How can you produce a list of bookings on the day of 2012-09-14 which will cost the member (or guest) more than $30? 
# Remember that guests have different costs to members (the listed costs are per half-hour 'slot'), and the guest user's ID is 0. 
# Include in your output the name of the facility, the name of the member formatted as a single column, and the cost.
# Order by descending cost, and do not use any subqueries. 

q8="""SELECT Bookings.bookid, Facilities.name AS facilityname, CONCAT(Members.firstname,' ',Members.surname) AS membername,
             CASE WHEN Bookings.memid = 0 THEN Facilities.guestcost*Bookings.slots
                  ELSE Facilities.membercost * Bookings.slots END AS cost
       FROM Bookings
       JOIN Facilities ON Facilities.facid = Bookings.facid
       JOIN Members ON Members.memid = Bookings.memid
       WHERE starttime LIKE '2012-09-14%%' AND
             CASE WHEN Bookings.memid =0 AND Facilities.guestcost*Bookings.slots>30 THEN 1
                  WHEN Bookings.memid !=0 AND Facilities.membercost*Bookings.slots>30 THEN 1
                  ELSE 0 END 
       ORDER BY cost DESC"""

print("The list of bookings on the day of 2012-09-14 which cost the member (or guest) more than $30 is:\n")
print(pd.read_sql_query(q8, engine).to_string(index=False))

The list of bookings on the day of 2012-09-14 which cost the member (or guest) more than $30 is:

 bookid    facilityname      membername   cost
   2946  Massage Room 2     GUEST GUEST  320.0
   2940  Massage Room 1     GUEST GUEST  160.0
   2942  Massage Room 1     GUEST GUEST  160.0
   2937  Massage Room 1     GUEST GUEST  160.0
   2926  Tennis Court 2     GUEST GUEST  150.0
   2920  Tennis Court 1     GUEST GUEST   75.0
   2922  Tennis Court 1     GUEST GUEST   75.0
   2925  Tennis Court 2     GUEST GUEST   75.0
   2948    Squash Court     GUEST GUEST   70.0
   2941  Massage Room 1  Jemima Farrell   39.6
   2949    Squash Court     GUEST GUEST   35.0
   2951    Squash Court     GUEST GUEST   35.0

In [33]:
# Q9: This time, produce the same result as in Q8, but using a subquery. 

q9="""SELECT t2.bookid, t2.name AS "facilityname", concat(Members.firstname,' ',Members.surname) AS membername, t2.cost
      FROM Members
      JOIN (
            SELECT Bookings.bookid, Facilities.name, Bookings.memid,
                   CASE WHEN Bookings.memid=0 THEN Facilities.guestcost * Bookings.slots
                   ELSE Facilities.membercost * Bookings.slots END AS cost
            FROM Bookings
            JOIN Facilities ON Facilities.facid = Bookings.facid
            WHERE starttime LIKE '2012-09-14%%'
            )t2 
      ON Members.memid = t2.memid
      WHERE t2.cost>30
      ORDER BY t2.cost DESC"""

print("The list of bookings on the day of 2012-09-14 which cost the member (or guest) more than $30 is:\n")
print(pd.read_sql_query(q9, engine).to_string(index=False))

The list of bookings on the day of 2012-09-14 which cost the member (or guest) more than $30 is:

 bookid    facilityname      membername   cost
   2946  Massage Room 2     GUEST GUEST  320.0
   2940  Massage Room 1     GUEST GUEST  160.0
   2942  Massage Room 1     GUEST GUEST  160.0
   2937  Massage Room 1     GUEST GUEST  160.0
   2926  Tennis Court 2     GUEST GUEST  150.0
   2920  Tennis Court 1     GUEST GUEST   75.0
   2922  Tennis Court 1     GUEST GUEST   75.0
   2925  Tennis Court 2     GUEST GUEST   75.0
   2948    Squash Court     GUEST GUEST   70.0
   2941  Massage Room 1  Jemima Farrell   39.6
   2949    Squash Court     GUEST GUEST   35.0
   2951    Squash Court     GUEST GUEST   35.0

In [34]:
# Q10: Produce a list of facilities with a total revenue less than 1000. 
# The output of facility name and total revenue, sorted by revenue. 
# Remember that there's a different cost for guests and members! 

q10="""SELECT t2.name AS facilityname, SUM(t2.cost) AS total
       FROM Members
       JOIN (
             SELECT Bookings.bookid, Facilities.name, Bookings.memid,
                    CASE WHEN Bookings.memid =0 THEN Facilities.guestcost * Bookings.slots 
                         ELSE Facilities.membercost * Bookings.slots END AS cost
                    FROM Bookings
                    JOIN Facilities ON Facilities.facid = Bookings.facid
              )t2 
       ON Members.memid = t2.memid
       GROUP BY facilityname
       HAVING total<1000
       ORDER BY total DESC"""

print("The list of facilities with a total revenue less than 100 is as follows:\n")
print(pd.read_sql_query(q10, engine).to_string(index=False))

The list of facilities with a total revenue less than 100 is as follows:

  facilityname  total
    Pool Table  270.0
 Snooker Table  240.0
  Table Tennis  180.0